p {
    font-family: Lato;
    color: #928a97;
  }
  
  h1 {
    color: #f7fbfc;
    background-color: #455d7a;
    border-radius: 0.25em;
    padding: 0.12em;
  }
  
  .App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    flex-grow:inherit;
  }
  
  .ShimmerImage {
    object-fit: 'cover';
  }